*{
  margin: 0;
  padding: 0;
  font-family: "Roboto",sans-serif;
}

/* NAV */

header{
  position: fixed;
  width: 100%;
  border-bottom: 5px solid #0B3954;
  z-index: 3;
  background: #2196F3;
}

header nav{
  width: 90%;
  margin: 0 auto;
  height: 59px
}

.nav-buttons{
  display: inline-block;
  float: right
}

.nav-buttons ul{
  overflow: hidden;
  list-style: none;
  display: block;
}

.nav-buttons ul li{
  float: left;
}

.nav-buttons ul li a{
  text-decoration: none;
  padding: 20px 8px;
  display: inline-block;
}

.nav-buttons ul li a:hover{
  background: #0B3954;
  -webkit-transition: background 0.5s;
  transition: background 0.5s;
}

.nav-buttons ul li span{
  padding: 8px;
}

.menu-bar{
  display: none;
  height: 59px;
}

@media screen and (max-width:1248px){
  header nav{
    width: 100%;
  }
}

@media screen and (max-width:1123px){
  header{
    width: 80%;
    height: 100%;
    position: fixed;
    display: block;
    background: #0B3954;
    left: -100%
  }
  .small-logo{
    height: 30px;
    margin: 12.5px 0;
  }
  .big-logo{
    display: none;
  }
  .nav-buttons{
    display: block;
    float: none;
  }
  .nav-buttons ul li{
    float: none;
    display: block;
    border-bottom: 2px solid #2196F3;
  }
  .nav-buttons ul li a:active{
    background: #2196F3
  }
  .menu-bar{
    display: block;
    width: 100%;
    background: #2196F3;
    border-bottom: 5px solid #0B3954;
  }
  .menu-bar a{
    text-decoration: none;
    display: inline-block;
    float: right;
    padding: 5px;
    margin: 10px 10px 10px 0;
    border: 2px solid #fff;
    border-radius: 3px;
    font-weight: bold;
  }
}

@media screen and (max-width:451px){
  .big-logo{
    height: 30px;
    margin: 12.5px 0;
  }
  
}

/* COLORES */

.bg-light-blue {background: #2196F3;}
.tx-white      {color: #fff;}

/* MAPA */

#map {
    position: absolute;
    top: 64px;
    bottom: 0;
    width: 100%;
    z-index: 0;
}

/* SELECTOR DE CAPAS */

.capas{
  position: absolute;
  margin: 50px 0 0 5px;
  z-index: 1;
  background: rgba(255,255,255,.5);
  padding: 10px;
  box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
  border-radius: 5px;
}

.formulario label {
  display: inline-block;
  cursor: pointer;
  color: #0074D9;
  position: relative;
  padding: 5px 15px;
  font-size: 1em;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin: 1px 0;
}
.formulario label:hover {
  background: rgba(0, 116, 217, 0.1);
}
/*
label:before {
  content: "";
  display: inline-block;
  width: 17px;
  height: 17px;
  position: absolute;
  left: 15px;
  border-radius: 50%;
  background: none;
  border: 3px solid #0074D9;
}
*/

.map-options{
  display: flex;
  text-align: center;
}

.sel-marco{
  border-radius: 5px;
  height: 60px;
  width: 60px;
  border: 2px solid #0074D9;
  margin: auto;
}

.marco-map{
  background-image: url('../img/map.png');
  background-position: center;
  background-size: cover;
}

.marco-sat{
  background-image: url('../img/satellite.png');
  background-position: center;
  background-size: cover;
}

input[type="radio"] {
  display: none;
}
input[type="radio"]:checked + label:before {
  display: none;
}
input[type="radio"]:checked + label {
  padding: 5px 15px;
  background: #0074D9;
  border-radius: 2px;
  color: #fff;
}
input[type="checkbox"] {
  display: none;
}
input[type="checkbox"]:checked + label:before {
  display: none;
}
input[type="checkbox"]:checked + label {
  background: #0074D9;
  color: #fff;
}

@media screen and (min-width: 600px){
  .capas{
    margin-top: 115px;
  }
}

@media screen and (min-width: 400px){
  #panelToggle {
    position: absolute;
    margin-left: 12px;
    /*margin-top: 82px;*/
    font-size: x-large;
  }
}

.panelToggle {
  position: absolute;
  margin-left: 10px;
  top: 67px;
  font-size: xx-large;
  box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
}

.btn-panel {
  padding: 5px 15px;
  background: #0074D9;
  border-radius: 2px;
  color: #fff;
  margin-top: 5px;
  margin-bottom: 5px;
  border-width: 0;
  cursor: pointer;
}

button:hover {
  background: #0074D0;
}

button:active {
  background: #dddddd;
  color: #0074D9;
}

.oculto {
  display: none;
}

#features {
  max-width: 300px;
  max-height: 185px;
  overflow: auto;
}

/* FUENTES */

@font-face {
  font-family: 'Roboto';
  src:url('../font/icons/Roboto-Regular.ttf') format('truetype'),
      url('../font/icons/Roboto-Regular.woff') format('woff'),;
  font-weight: normal;
  font-style: normal;
}